<% if user_signed_in? %>
	<div class="col-md-8 col-md-offset-4">

	<% @items.each do |item| %>

	<% if item.completed? %>

	<div class="row item">

		<div class="col-md-6">
			<h2 style="opacity: 0.5;" class="item-title"><strike><%= link_to item.title, item %></strike></h2>
			<% if session[:view_style] && session[:view_style] == 'title-with-details' %>
				<p style="opacity: 0.5;" class="item-desc item-sub-title"><%= item.description %></p>
				<p style="opacity: 0.5;" class="time-ago item-sub-title">Completed <%= time_ago_in_words(item.completed_at) %> ago </p>
			<% end %>
		</div>

		<div class="col-md-4">
			<%= form_for item, remote: true, authenticity_token: true do |f| %>
				<%= f.select :assignee_id, options_for_select(@users.map {|u| [u.email, u.id]}, item.assignee.try(:id)), { include_blank: 'Assign to a user' }, class: 'form-control', disabled: true %>
			<% end %>
		</div>

		<div class="col-md-1">
			<p><%= link_to uncomplete_item_path(item), method: :patch do %></p>
				<i class="fa fa-lg fa-check"></i>
			<% end %>
		</div>


		<div class="col-md-1">
			<p><%= link_to item, method: :delete, data: {Confirm: "Are you sure, you want to delete the task?" } do %></p>
				<i class="fa fa-lg fa-trash"></i>
			<% end %>
		</div>

	</div>
	<% else %>

	<div class="row item">
		<div class="col-md-6">
			<h2 class="item-title"><%= link_to item.title, item %></h2>
			<% if session[:view_style] && session[:view_style] == 'title-with-details' %>
				<p class="item-desc item-sub-title"><%= item.description %></p>
				<p class="time-ago item-sub-title">Created <%= time_ago_in_words(item.created_at) %> ago </p>
			<% end %>
		</div>

		<div class="col-md-4">
			<%= form_for item, remote: true, authenticity_token: true do |f| %>
				<%= f.select :assignee_id, options_for_select(@users.map {|u| [u.email, u.id]}, item.assignee.try(:id)), { include_blank: 'Assign to a user' }, class: 'form-control  assignee-select' %>
			<% end %>
		</div>


		<div class="col-md-1">
			<p><%= link_to complete_item_path(item), method: :patch do %></p>
				<i class="fa fa-lg fa-check"></i>
			<% end %>
		</div>


		<div class="col-md-1">
	<p><%= link_to item, method: :delete, data: {Confirm: "Are you sure, you want to delete the task?" } do %></p>
		<i class="fa fa-lg fa-trash"></i>
			<% end %>
		</div>
	</div>

	<% end %>
<% end %>

	</div>

<% else %>
<%= render 'layouts/static_landing_page' %>
<% end %>
