<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <nav class="navbar navbar-default">
    <div class="container col-md-9 col-md-offset-2">
      <div class="navbar-header ">
    <%= link_to "Todo List", root_path, class: "navbar-brand" %>
  </div>

  <ul class="nav navbar-nav">
    <li><%= link_to "Register", new_user_registration_path %></li>
    <% if current_user.present? %>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>

      <% else %>

      <li><%= link_to "Login", new_user_session_path %></li>

    <% end %>
  </ul>

  <% if user_signed_in? %>
    <%= link_to "New Task", new_item_path, class: "navbar-text navbar-link navbar-right" %>

    <div class="btn-group navbar-right" role="group" aria-label="...">
      <%= link_to '', switch_view_path('title'), method: :patch, class: "btn btn-default glyphicon glyphicon-menu-hamburger #{ 'active' if session[:view_style] == 'title'}", title: 'Title-only view' %>
      <%= link_to '', switch_view_path('title-with-details'), method: :patch, class: "btn btn-default glyphicon glyphicon-th-list #{ 'active' if session[:view_style] == 'title-with-details'}", title: 'Title-and-details view' %>
    </div>
  <% end %>
  </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>